<mat-sidenav-container>
    <mat-sidenav-content>
      <form [formGroup]="addTask" (ngSubmit)="submitTask()" novalidate>
          <section class="example-section" >

          <mat-form-field class="example-full-width">
              <input type="text" placeholder="Projects" aria-label="Projects" matInput [formControl]="projectsControl" [matAutocomplete]="autoProject">
              <mat-autocomplete #autoProject="matAutocomplete" [displayWith]="displayProjectFn">
                <mat-option *ngFor="let projectVo of filteredprojectVo | async" [value]="projectVo">
                  {{projectVo.projectName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </section>
          <section class="example-section" >
          <!-- First Name -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Task Name" formControlName="taskName">
            <!-- error -->
            <mat-error *ngIf="errorHandling('taskName', 'required')">
              You must provide a<strong>taskName</strong>
            </mat-error>
          </mat-form-field>
            </section>
            <section class="example-section">
                <mat-checkbox class="example-margin" (click)="enableParentTask()" (value)="1" formControlName="setParentTask" >Set Parent Task</mat-checkbox>
              </section>
            <section class="example-section" >
                  <mat-form-field>
                          <input matInput [matDatepicker]="picker1" formControlName="startDate" placeholder="Start date" (dateInput)="addEvent('startDate', $event)" (dateChange)="addEvent('startDate', $event)">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" formControlName="endDate" [value]="startDate"  placeholder="End date"  (dateInput)="addEvent('endDate', $event)" (dateChange)="addEvent('endDate', $event)">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 [startAt]="startDatevalue"></mat-datepicker>
                          </mat-form-field>
              </section>
                                 
            <section class="example-section" >
                <label class="example-margin">Priority : </label>
             <mat-slider matBadge="0" matBadgePosition="before" matBadgeColor="accent" class="example-margin" formControlName="priority" [min]="0" [thumbLabel]="true" [tickInterval]="true" [max]="30" [step]="5"  ></mat-slider>
         <span class="mat-span" matBadge="30" matBadgePosition="before" matBadgeColor="accent"></span>
            </section>
            <section class="example-section" >
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="autoAssigne">
                <mat-autocomplete #autoAssigne="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
                    {{user.firstName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          <mat-span>;;;</mat-span>
              
              <mat-span>;;;   </mat-span>
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Parent Tasks" aria-label="ParentTasks" matInput [formControl]="parentsControl" [matAutocomplete]="autoTasks">
                <mat-autocomplete #autoTasks="matAutocomplete" [displayWith]="displayTaskFn">
                  <mat-option *ngFor="let taskVo of filteredtaskVo | async" [value]="taskVo">
                    {{taskVo.taskName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </section>
          <!-- Submit -->
          <div class="button-wrapper">
            <button mat-flat-button color="primary">Add Task</button>
          </div>
    
      </form>
      </mat-sidenav-content>
  
    </mat-sidenav-container>