<mat-sidenav-container>
  <mat-sidenav-content>

              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="userFiName selection">
                  <mat-chip
                    *ngFor="let userFiName of userFiNames"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(userFiName)">
                    {{userFiName}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New userFiName..."
                    #userFiNameInput
                    [formControl]="userFiNameCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let userFiName of filtereduserFiNames | async" [value]="userFiName">
                    {{userFiName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


      <!-- Submit -->
      <div class="button-wrapper">
        <button (click)="searchUser($event)" mat-flat-button color="primary">Search Users</button>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
      
    <!-- ID Column -->
    <ng-container matColumnDef="firstName">
      <th class="longLength" mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td class="longLength" mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="lastName">
      <th class="shortLength" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td class="shortLength" mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="employeeId">
      <th class="shortLength" mat-header-cell *matHeaderCellDef mat-sort-header> Employee Id </th>
      <td class="shortLength" mat-cell *matCellDef="let row"> {{row.employeeId}} </td>
    </ng-container>
     
           
            <ng-container matColumnDef="userId">
                <th class="longLength" mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td class="longLength" mat-cell *matCellDef="let row" > <button mat-raised-button (click)="editUser(row.userId)">Edit </button> /<button mat-raised-button (click)="removeUser(row.userId)">Remove</button> </td>
              </ng-container>
            <tr class="defaultHeader" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>