<mat-sidenav-container>
  <mat-sidenav-content>

              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="userFiName selection">
                  <mat-chip
                    *ngFor="let userFiName of userFiNames"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(userFiName)">
                    {{userFiName}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New userFiName..."
                    #userFiNameInput
                    [formControl]="userFiNameCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let userFiName of filtereduserFiNames | async" [value]="userFiName">
                    {{userFiName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


      <!-- Submit -->
      <div class="button-wrapper">
        <button (click)="searchUser($event)" mat-flat-button color="primary">Search Users</button>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<div>
<table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="firstName">First Name</th>
      <th mat-sort-header="lastName">Last Name</th>
      <th mat-sort-header="employeeId">Employee ID</th>
      <th  >Edit</th>
      <th  >Remove</th>
    </tr>
  
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.employeeId}}</td>
      <td><button mat-raised-button (click)="editUser(user.userId)">Edit</button></td>
      <td><button mat-raised-button (click)="removeUser(user.userId)">Remove</button></td>
    </tr>
  </table>
</div>
