<mat-sidenav-container>
    <mat-sidenav-content>
  
                <mat-form-field >
                    <input matInput placeholder="Project Name" [formControl]="searchProjectString"  >
                </mat-form-field>
  
  
        <!-- Submit -->
        <div class="button-wrapper">
          <button (click)="searchProject()" mat-flat-button color="primary">Search Projects</button>
        </div>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div>
  <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="projectName">Project Name</th>
        <th mat-sort-header="startDate">Start Date</th>
        <th mat-sort-header="endDate">End Date</th>
        <th mat-sort-header="priority">Priority</th>
        <th mat-sort-header="userName">Manager Name</th>
        <th  >Edit</th>
        <th  >Remove</th>
      </tr>
    
      <tr *ngFor="let projectObj of projects">
        <td>{{projectObj.projectName}}</td>
        <td>{{projectObj.startDate|date: 'mediumDate'}}</td>
        <td>{{projectObj.endDate|date: 'mediumDate'}}</td>
        <td>{{projectObj.priority}}</td>
        <td>{{projectObj.userName}}</td>
        <td><button mat-raised-button (click)="editProject(projectObj.projectId)">Edit</button></td>
        <td><button mat-raised-button (click)="removeProject(projectObj.projectId)">Remove</button></td>
      </tr>
    </table>
  </div>
  