/* You can add global styles to this file, and also import other style files */

html, body { height: 90%; }
body { margin:20px 20px 0 20px; font-family: Roboto, "Helvetica Neue", sans-serif;
width:100%; max-width:1300px; }
.mat-sidenav-container{
  max-width:650px;
  width:100%;
    margin: 5px;
    }
    .example-chip-list {
       max-width: 500px;
       width:100%;
      }